[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

#visual studio
.vs/

#sw4stm32
.settings/

#PCB project
History/
__Previews/

#user files
*.user

#compiled shader files
*.cso

#latex files
*.pdf
*.log
*.aux
*.gz